.popular {
  width: 60%;
  margin: 0 auto;
  padding-top: 20px;
  
  .popular-product-L,
  .popular-product-R {
    cursor: pointer;

    width: 100%;
    display: flex;

    .detail {
      width: 50%;
      text-align: center;
      .name {
        font-size: 12px;
        padding-top: 40%;
        font-weight: 700;
      }
      .content {
        font-size: 12px;
        padding-top: 10%;
        color: rgb(160, 159, 155);
      }

    }

    .product-img {
      position: relative;

      width: 50%;
      height: auto;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &:after {
        content: "";
        display: block;
        padding: 50%;
      }
    }
  }
}