.instagram {
  width: 70%;
  margin: 0 auto;
  position: block;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;

  h4 {
    font-size: 30px;
    padding: 20px 0;
    font-weight: 700;
  }

  img {
    width: 50%;
    object-fit: cover;
  }

  .instagram-img {
    width: 100%;
    display: flex;
    padding-bottom: 30px;
    justify-content: center;
    .img-left,
    .img-right {
      background-color: orange;
      width: 50%;
      display: flex;

      &:after {
        content: "";
        display: block;
        padding-bottom: 50%;
      }
    }

  }

}

@media screen and (max-width: 768px) {
  .instagram {
    .instagram-img{
      flex-direction: column;
      img {
        width: 100%;
      }
    }
  }
}